.container {
  padding: 3%;
  margin: auto;
  height: 100%;
  width: 100%;
  min-height: 500px;
  max-width: 1440px;
  min-width: 1366px;
  box-sizing: border-box;
}

.notebook-lists {
  margin: 40px 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  margin-top: 20px;
}

.no-content {
  height: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
  color: #ccc;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

