@import './../../variable.scss';

.container {
  min-height: 100vh;
  color: $font-color-primary;
  background-color: #f7f7f7;
  font-family: 'Raleway', 'Roboto', sans-serif;
}

mat-drawer {
  width: 35%;
  min-width: 500px;
  max-width: 501px;
  padding: 40px;

  .dp-ign {
    padding: 20px 0;
    text-align: center;

    img {
      height: 80px;
    }

    p {
      margin: 5px auto;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
    }
  }

  hr {
    height: 0px;
    margin-bottom: 5px;
    border: 0.5px solid #ccc;
    background-color: #ccc;
  }

  .field {
    display: flex;
    margin: 15px auto;
    justify-content: space-between;

    p {
      width: 120px;
      line-height: 30px;
      font-weight: 600;
    }

    p:nth-child(2) {
      width: 230px;
    }

    button {
      height: 30px;
      width: 30px;
      padding: 5px;
      border-radius: 4px;
      border: 0.25px solid #ccc;
      background-color: transparent;
      box-sizing: border-box;

      img {
        height: 15px;
        width: 15px;
      }
    }
  }

  .logout {
    bottom: 50px;
    width: 100%;
    max-width: 420px;
    text-align: center;
    position: absolute;

    button {
      width: 125px;
      height: 35px;
      color: #fff;
      background: #333333;
      border-radius: 10px;
      font-weight: 600;
      font-size: 16px;
      line-height: 21px;
      text-align: center;
      border: transparent;
    }
  }
}


mat-drawer-content {
  height: 100vh;
  box-sizing: border-box;

  .body {}
}
