<footer>
  <div class="contacts">
    <ul class="wrapper" id="contacts">
      <li *ngFor="let item of footerIcons">
        <span class="image-wrapper"><mat-icon>{{ item.icon }}</mat-icon></span>
        <a [href]=item.link> {{ item.description }}</a>
      </li>
    </ul>
  </div>
  <div class="about">
    <div class="wrapper">
      <p>ABOUT</p><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus porttitor sodales. Etiam ullamcorper tempus augue ut faucibus. Praesent pharetra convallis molestie. Mauris sodales aliquam ligula, non euismod augueeleifend non. Suspendisse potenti. Duis ornare.</p>
    </div>
  </div>
</footer>
