<div class="container">
  <jtr-back-button [path]="'/login'"></jtr-back-button>
  <div class="box">
    <div class="left">
      <img src="assets/images/clip-completed-successfully 1.png" alt="Forgot Password Image">
    </div>
    <div class="right">
      <h1>Reset Password</h1>
      <p>To proceed with password reset, enter your new password. </p>
      <form>
        <div class="field">
          <span>
            <mat-icon>lock</mat-icon>
            <input type="password" placeholder="Enter New Password">
          </span>
        </div>
        <div class="field">
          <span>
            <mat-icon>lock</mat-icon>
            <input type="password" placeholder="Confirm New Password">
          </span>
        </div>
        <div class="submit-btn">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
</div>
<div class="bg">
  <img src="assets/images/urban-328 1.png" alt="">
</div>
