<div class="container">
  <div class="spiel">
    <img src="assets/images/Verify icon.png" alt="Verification Icon">
    <h1>Verification</h1>
    <p>Please verify your account by entering the code we have sent to your email address.</p>
  </div>
  <form>
    <div class="field">
      <span>
        <img src="assets/images/Password Icon.png" alt="">
        <input type="text" placeholder="Enter Code">
      </span>
    </div>

    <div class="submit-btn">
      <input type="submit" value="Submit">
      <div class="resend-wrapper"><a>Resend code</a></div>
    </div>
  </form>
</div>
