<div class="container">
  <jtr-back-button [path]="''"></jtr-back-button>
  <div class="wrapper" [@wrapperState]="wrapperState">
    <div class="login-wrapper" [@formWrapperState]="formWrapperState">
      <div *ngIf="loginState"  id="login-form"><login></login></div>
      <div *ngIf="!loginState" id="enroll"><enroll (toggle)="onToggleSignUp()"></enroll></div>
    </div>
    <div class="spiel-wrapper" [@spielWrapperState]="spielWrapperState">
      <div *ngIf="loginState" class="spiel">
        <h1>Hello there!</h1>
        <p>Enter your details and start your journey with us.</p>
        <button (click)="onToggleSignUp()">SIGN UP</button>
      </div>
      <div class="spiel" *ngIf="!loginState">
        <h1>Welcome Back!</h1>
        <p>To keep connected, please log in.</p>
        <button id="signInToggle" (click)="onToggleSignUp()">SIGN IN</button>
      </div>
    </div>
  </div>
</div>
<div class="bg">
  <img src="assets/images/urban-328 1.png" alt="">
</div>
