<div class="wrapper">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio voluptas numquam ipsam. Porro amet animi perspiciatis, quo distinctio iusto quia laborum esse impedit eaque laboriosam tempore obcaecati adipisci, nobis dolor doloremque consequuntur suscipit ducimus non voluptate harum in magnam cumque itaque! Incidunt aut omnis atque sed. Deleniti quis ratione vero.</p>
  <div class="thumbnail">
    <p class="date">November 12</p>
  </div>
</div>

<!-- to do: once click, trigger text editor and load existing data -->
