<div class="container">
  <div class="notebook-head">
    <jtr-back-button [path]="'/user'" class="back-button"></jtr-back-button>
    <ng-container *ngIf="notebook">
      <note-filter
        (savedNoteEvent)="mapNoteEntries($event)"
        (sortEvent)="sort($event)"
        [searchControl]="searchString"
        [pageTitle]="notebook.title"
        [filterMenu]="filterMenu"
        [notebookID]="currentNbID" class="filter">
      </note-filter>
    </ng-container>
  </div>
  <ul class="notebook-body" *ngIf="noteEntries">
    <li *ngFor="let note of filteredNoteEntries">
      <note [note]="note" (savedNoteEvent)="mapNoteEntries($event)"></note>
    </li>
  </ul>
  <div class="no-content" *ngIf="!noteEntries">
    <p>No entries yet.</p>
  </div>
</div>
