<div class="container">
  <!-- to do: once clicked, redirect user to notebook -->
  <div class="wrapper"(mouseenter)="onHover()" #notebookCover [style.background-image]="'url('+ notebookItem.cover +')'">
      <div class="cover-details" *ngIf="!triggerFx">
        <p class="title">{{ notebookItem.title | titlecase }}</p>
        <p class="date">{{ notebookItem?.updatedAt | date: 'longDate' }}</p>
      </div>
  </div>

  <div class="tools" *ngIf="triggerFx" (mouseleave)="onHover()">
    <button *ngFor="let button of notebookButtons; let index = index"
      matRipple
      [matRippleCentered]="centered"
      [matRippleUnbounded]="unbounded"
      [matRippleRadius]="radius"
      [matRippleColor]="color"
      (click)="onClick(index, notebookItem)">
      <mat-icon>{{ button }}</mat-icon>
    </button>
  </div>
</div>
