.container {
  height: 260px;
  overflow: hidden;
}

.wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-image: url("../../../../assets/images/pexels-dmitri-posudin-4604195.jpg");

  .cover-details {
      bottom: 7%;
      width: 149px;
      margin: auto;
      padding: 5px;
      position: absolute;
      box-sizing: border-box;
      background-color: #fafafa;

      p {
          margin: 0;
          padding: 0;
          line-height: 18px;
      }
      .title {
          font-weight: 500;
      }
  }
}


.wrapper, .tools {
  width: 189px;
  height: 252px;
  padding: 20px;
  border-radius: 0px 15px 15px 0px;
  box-sizing: border-box;
  transition: all .5s;
}

.tools {
  top: -252px;
  position: relative;
  background-color: rgb(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;

  button {
      width: 50px;
      justify-content: center;
      align-items: center;
      margin: auto;
      box-sizing: border-box;
      background: transparent;
      border: transparent;
      img {
          width: 25px;
          height: 25px;
      }
  }
}

.container:hover .wrapper,
.container:hover .wrapper,
.container:hover .tools {
  transform: scale(1.1);
}

mat-icon {
  color: #fff;
}

