footer {
  height: 400px;
  display: flex;
}

.contacts, .about {
  width: 50%;
  padding: 80px;
  color: #fafafa;
  background: rgba(11, 37, 49, 0.93);
}

.contacts {
  background-color: #0B2531;
}

.container {
  margin: auto;
  max-width: 500px;
}

ul {
  list-style: none;

  li {
    margin: 20px auto;
    align-items: center;
    display: flex;

    a {
      color: #fafafa;
      text-decoration: none;
      margin-left: 10px;
    }

    div {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: rgba(196, 196, 196, 0.16);

      img {
        height: 30px;
        border-radius: 0;
        padding: 0;
        background: none;
      }
    }
  }
}

@media screen and (min-width:1440px) {
  .container {
    margin-left: 0px;
  }

  #contacts {
    margin: 0 0 0 auto;
  }
}
