<footer>
  <div class="contacts">
    <ul class="wrapper" id="contacts">
      <li>
        <div class="image-wrapper"><img src="assets/images/location.png" alt=""></div>
        <a href="https://goo.gl/maps/UXK4C4tft4DxwqkC9">Manila, Philippines</a>
      </li>

      <li>
        <div class="image-wrapper"><img src="assets/images/phone.png" alt=""></div>
        <a href="tel:+155512345">+1 555 12345</a>
      </li>

      <li>
        <div class="image-wrapper"><img src="assets/images/paperplane.png" alt=""></div>
        <a href="mailto: support@jotter.com">support@jotter.com</a>
      </li>
    </ul>
  </div>

  <div class="about">
    <div class="wrapper">
      <p>ABOUT</p><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus porttitor sodales. Etiam ullamcorper tempus augue ut faucibus. Praesent pharetra convallis molestie. Mauris sodales aliquam ligula, non euismod augueeleifend non. Suspendisse potenti. Duis ornare.</p>
    </div>
  </div>
</footer>
