footer {
  height: 400px;
  display: flex;
}

.contacts, .about {
  width: 50%;
  color: #fafafa;
  background: rgba(11, 37, 49, 0.93);
}

.contacts {
  background-color: #0B2531;
}

.wrapper {
  margin: auto;
  height: 100%;
  padding: 60px 0;
}

.about .wrapper p {
  width: 80%;
  max-width: 700px;
  margin: auto;
}

ul {
  list-style: none;
  margin: auto;

  li {
    display: flex;
    align-items: center;
    margin: 20px auto;
    width: 50%;
    max-width: 250px;


    a {
      color: #fafafa;
      text-decoration: none;
      margin-left: 10px;
    }

    div.image-wrapper {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: rgba(196, 196, 196, 0.16);

      img {
        padding: 0;
        height: 30px;
        border-radius: 0;
        background: none;
      }
    }
  }
}
