.container {
  padding: 3% 0;
  height: 100%;
  min-height: 500px;
  max-width: 1440px;
  min-width: 1284px;
  margin: auto;
}

ul{
  display: grid;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
  li {
    margin: 20px auto;
    min-width: 288px;
  }
}

