<div class="container">
  <form>
    <h1>Change Email Address</h1>
    <p>Enter the new email address and your current password to confirm the changes.</p>
    <div class="field">
      <span>
        <img src="assets/images/Email Icon.png">
        <input type="email" placeholder="New Email Address">
      </span>
    </div>
    <div class="field">
      <span>
        <img src="assets/images/Password Icon.png">
        <input type="password" placeholder="Password">
      </span>
    </div>
    <div class="action-button">
      <button class="submit" type="submit" (click)="onSubmit($event)">Submit</button>
      <button class="cancel" (click)="onCancel($event)">Cancel</button>
    </div>
  </form>
</div>
