<div class="container">
  <h1>Sign in to Jotter</h1>

  <div class="login-icons">
    <button><img src="assets/images/Google Icon.png" alt="Sign in via Google"></button>
    <button><img src="assets/images/Facebook Icon.png" alt="Sign in via Facebook"></button>
    <button><img src="assets/images/Twitter Icon.png" alt="Sign in via Twitter"></button>
  </div>

  <p class="login-option-spiel">or use your email</p>

  <form>
    <div class="field">
      <span>
        <img src="assets/images/Email Icon.png" alt="">
        <input type="text" placeholder="Username/Email" id="email">
      </span>
    </div>

    <div class="field">
      <span>
        <img src="assets/images/Password Icon.png" alt="">
        <input type="password" placeholder="Password">
      </span>
    </div>

    <a routerLink="/forgot-password">Forgot Password?</a>
    <div class="sign-in-wrapper"><button id="sign-in">SIGN IN</button></div>
  </form>
</div>
