
.bg {
  z-index: -1;
  min-height: 99vh;
  margin-top: -99vh;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  img {
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
  }
}

.container {
  width: 100%;
  margin: auto;
  max-width: 1366px;
  min-height: 100vh;
  padding: 2% 1% 4%;
  overflow: hidden;
  box-sizing: border-box;
}

.box {
  width: 770px;
  margin: auto;
  background: transparent;
  border-radius: 20px;
  display: flex;
}

.box, .box-1, .box-2 {
  min-height: 520px;
}

.box-1 {
  width: 470px;
  padding: 30px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 20px 0 0 20px;
  box-shadow: 0px 15px 4px rgba(0, 0, 0, 0.25);
}

.box-2 {
  width: 300px;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  background: #74919F;
  border-radius: 0px 20px 20px 0px;
  text-align: center;
  box-shadow: 0px 15px 4px rgba(0, 0, 0, 0.25);
}


.spiel {
  width: 65%;
  margin: 55% auto;

  h1, p{
    text-align: start;
  }
  p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.03em;
  }

  button {
    margin: 30px auto 0;
    text-align: center;
    width: 100px;
    height: 31px;
    color: #fff;
    background-color: transparent;

    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
  }
}

#signInToggle {
  margin: 50px auto 0;
}


