<div class="container">
  <div class="notebook-head">
    <jtr-back-button [path]="'/user'" class="back-button"></jtr-back-button>
    <note-filter [pageTitle]="title" [filterMenu]="filterMenu" class="filter"></note-filter>
  </div>
  <!-- to do: loop thru avail notes of notebook -->
  <!-- to do: note is clickable, once click, open text editor containing note -->
  <ul class="notebook-body">
    <li><note></note></li>
    <li><note></note></li>
    <li><note></note></li>
    <li><note></note></li>
    <li><note></note></li>
    <li><note></note></li>
    <li><note></note></li>
    <li><note></note></li>
    <li><note></note></li>
  </ul>
</div>
