$primary-font: 'Roboto', sans-serif;
$secondary-font:'Bahnschrift', sans-serif;

$color-primary: #233B55;
$color-secondary: #E0563B;

$font-color-primary: #333333;
$font-color-secondary: #FFFFFF;

$button-color-1-: #34596F;

$field-bg-color: #ECF0F1;

$font-success-color: #B1D07A;
$font-error-color: #DC6143;
