.wrapper {
  height: 100%;
  padding: 10px 30px;
  box-sizing: border-box;
  width: 570px;
  //border: 1px solid red;
}

h1 {
  font-size: 30px;
  text-align: center;
}

input,
button {
  font-size: 16px;
}

.innerwrap {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}



.defaultBox {
  width: 62%;
}

#title {
  input {
    width: 220px;
    font-weight: 300;
    font-size: 17px;
    line-height: 23px;
    color: #000000;
    border: none;
    outline: none;
  }

  button {
    padding: 1px;
    margin-left: 10px;
    background: none;
    border: transparent;
  }
}

.cover {
  width: 38%;
  text-align: center;
}

.box {
  width: 128px;
  height: 176px;
  margin: auto auto 5px;
  background-size: cover;
  border-radius: 0px 15px 15px 0px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-image: url("../../../../../assets/images/pexels-dmitri-posudin-4604195.jpg");
}

#customUpload {
  text-align: center;
  font-size: 12px;
  text-decoration: underline;
  color: #34596F;
  cursor: pointer;
}

#customUpload:active {
  color: #00b8e6;
}

#uploadInput {
  opacity: 0;
}

.choose {
  text-align: left;
  font-size: 16px;

  ul {
    padding: 0 30px;
    text-align: center;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    //border: 1px solid red;
  }

  li {
    margin-top: 10px;
  }
}

[type=radio] {
  position: absolute;
  opacity: 0;
}

[type=radio]+label {
  height: 60px;
  font-size: large;
  cursor: pointer;

  img {
    border: 2px solid transparent;
  }
}

[type=radio]:checked~* {
  img {
    border: 2px solid #333;
  }
}


[type=radio]+label+img {
  cursor: pointer;
  margin-right: 0.5rem;
}



.actions {
  text-align: center;

  button {
    margin: auto 20px;
    height: 30px;
    width: 140px;
    color: #fff;
    background: #34596F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-size: 16px;
  }

  #cancel {
    background-color: #333;
  }
}
