$primary-font: 'Roboto', sans-serif;
$secondary-font:'Bahnschrift', sans-serif;

$color-primary: #233B55;
$color-primary-md-dark: #34596F;
$color-primary-light:#74919F;
$color-secondary: #E0563B;

$font-color-primary: #333333;
$font-color-secondary: #FFFFFF;
$font-color-error: #ff0000;

$button-color-1: #34596F;
$button-cancel: #333333;
$field-bg-color: #ECF0F1;

$font-success-color: #B1D07A;
$font-error-color: #DC6143;
