.container {
  display: flex;
  align-items: center;
  padding: 20 40px;
  font-family: 'Raleway', 'Roboto', sans-serif;
}

h1,
.filter-fx {
  margin: 0;
  width: 50%;
  padding: 0;
  line-height: 30px;
  font-size: 20px;
  font-family: 'Raleway', 'Roboto', sans-serif;
}

h1 {
  font-size: 22px;
}

.filter-fx {
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: flex-end;
}

.filter-item {
  margin: 0 20px;
  display: flex;
  align-items: center;
  background: #FFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 15px;
  font-family: 'Raleway', 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  border: none;
}

.filter-item:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#search:active {
  transform: none;
  box-shadow: none;
}

.search {
  display: flex;
  align-items: center;
  background: #FFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 5px;

  input {
    padding: 0 5px;
    font-size: 15px;
    border: transparent;
    outline: none;
    font-family: 'Raleway', 'Roboto', sans-serif;
  }
}
