<div class="container">
  <h1>{{ pageTitle }}</h1>

  <div class="filter-fx">
    <div class="search filter-item" id="search">
      <mat-icon>search</mat-icon>
      <input type="text" placeholder="Search" [formControl]="searchControl">
    </div>

    <button class="filter-item" *ngIf="filterMenu['addButton']" (click)="onOpenTool()">
      <mat-icon>add</mat-icon> {{ filterMenu['title'] }}
    </button>

    <button class="filter-item" [matMenuTriggerFor]="sortMenu">
      <mat-icon>sort</mat-icon>Sort
    </button>

    <mat-menu #sortMenu="matMenu">
      <button mat-menu-item (click)="sort(sortOption.TITLE_ASCENDING)">Title A to Z</button>
      <button mat-menu-item (click)="sort(sortOption.TITLE_DESCENDING)">Title Z to A</button>
      <button mat-menu-item (click)="sort(sortOption.DATE_ASCENDING)">Date Created <p>Newest First</p></button>
      <button mat-menu-item (click)="sort(sortOption.DATE_DESCENDING)">Date Created <p>Oldest First</p></button>
    </mat-menu>
  </div>
</div>
