.container {
  padding: 3%;
  height: 100%;
  min-height: 500px;
  max-width: 1440px;
  min-width: 1366px;
  margin: auto;
  box-sizing: border-box;
  width: 100%;
}

.notebook-lists {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  li {
    margin: 20px auto;
  }
}
