<div class="container">
  <form>
    <h1>Change Password</h1>
    <p>To proceed with password change, complete the following fields.</p>
    <div class="field">
      <span>
        <img src="assets/images/Password Icon.png">
        <input type="password" placeholder="Enter Current Password">
      </span>
    </div>
    <div class="field">
      <span>
        <img src="assets/images/Password Icon.png">
        <input type="password" placeholder="Enter New Password">
      </span>
    </div>
    <div class="field">
      <span>
        <img src="assets/images/Password Icon.png">
        <input type="password" placeholder="Confirm New Password">
      </span>
    </div>
    <div class="action-button">
      <button class="submit" type="submit" (click)="onSubmit($event)">Submit</button>
      <button class="cancel" (click)="onCancel($event)">Cancel</button>
    </div>
  </form>
</div>
