@import "./../../variable.scss";

.bg-main {
  overflow: hidden;
  max-width: 1569px;

  img {
    width: 1569px;
    margin-top: -80px;
    margin: -80px 0 0 -110px;
  }
}

.bg-body {
  top: -505px;
  padding: 0 20px;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  color: $font-color-secondary;
  font-family: $secondary-font;

  img {
    width: 750px;
  }

  div {
    top: -30px;
    position: relative;
  }

  h1, p {
    padding: 7px 0;
    font-size: 55px;
    font-style: normal;
    font-weight: normal;
    text-align: right;
  }

  .spiel {
    margin-top: 60px;
  }

  p {
    padding: 0;
    font-size: 25px;
  }

}

span {
  color: $color-secondary;
}

@media screen and (min-width:1440px) {
  .bg-main {
    width: 100%;
    margin: auto;
    overflow: visible;

    img {
      margin: -80px auto 0;
    }
  }
}


