.container {
  height: 100vh;
  box-sizing: border-box;
  padding: 2% 0 0;
}

.header {
    display: flex;
    text-align: center;

    button {
        width: 3%;
        //border:1px solid black;
        background-color: transparent;
        border: transparent;
        img {
            width: 30px;
            height:30px;
        }
    }

    div{
        width: 97%;
        margin: auto;
    }

    input {
        line-height: 30px;
        font-size: 25px;
        margin: auto auto auto -3%;
        text-align: center;
        width: 90%;
        border: none;
        font-family: 'Raleway', 'Roboto';
        font-weight: 500;
    }

    input:focus{
        border: 0px 0px 3px 0px;
    }
}


.body {
    margin: 40px auto 0;
    padding: auto 100px;
    width: 90%;
}

.header, .body {
    padding: 0 30px;
}

#color-picker {
  opacity: 0;
}

.ql-container.ql-snow {
  border: transparent;
}

#title, .footer, .wrap{
  background-color: transparent;
}

.footer {
  height: 86px;
  bottom: 0;
  width: 985px;
  margin: auto;
  position: absolute;
  background: none;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  .wrap {
    width: fit-content;
    margin: auto;
    text-align: center;
    display: flex;
    text-align: center;
    align-items: center;
  }

  button{
    height: 35px;
    width: 35px;
    margin: auto 15px;
    background: transparent;
    border: transparent;
  }

  .divider {
    width: 0;
    height: 39px;
    border: 1px solid #000000;
    background-color: #000000;
    margin: auto 20px;
  }
}




