<form class="container" [formGroup]="noteForm" (ngSubmit)="onSubmit(noteForm.value)">
  <div class="header">
    <jtr-back-button mat-dialog-close></jtr-back-button>
    <div><input id="title" type="text" formControlName="noteTitle"></div>
  </div>

  <div class="body">
    <quill-editor [styles]="{height: '420px', border:'none'}" (onEditorChanged)="changedEditor($event)"></quill-editor>
  </div>

  <div class="footer">
    <div class="wrap">
      <button><mat-icon>delete</mat-icon></button>
      <button><mat-icon>save</mat-icon></button>

      <div class="divider"></div>

      <button><mat-icon>print</mat-icon></button>
      <button><mat-icon>move_to_inbox</mat-icon></button>
      <button><mat-icon>file_copy</mat-icon></button>

      <div class="divider"></div>

      <button><mat-icon>bookmark_border</mat-icon></button>
      <button (click)="openColorPicker($event)"><mat-icon>color_lens</mat-icon></button>
      <input id='color-picker' type='color' #colorPicker formControlName="color" (change)="onColorChange(colorPicker.value)"/>
    </div>
  </div>
</form>
