<div class="flex-container">
  <div class="cards">
    <!-- https://iconscout.com/icon/recommendations-like-favorite-thumbs-up-approve-vote-2 -->
    <img src="assets/images/feature-1.png" alt="icon by jemismali">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
  </div>

  <div class="cards">
    <!-- https://iconscout.com/icon/business-avatar-secure-security-shield-guard-safety-3 -->
    <img src="assets/images/feature-2.png" alt="icon by By Mohit Gandhi">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>

  </div>

  <div class="cards">
    <!-- https://iconscout.com/icon/free-trial-1758335 -->
    <img src="assets/images/feature-3.png" alt="icon by Alexiuz AS">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
  </div>
</div>
