@import "_variables.scss";

.container {
  padding: 20px 0;
  height: 100%;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: $color-primary-md-dark;
}

form {
  height: 100%;
  width: 80%;
  padding: 30px 0;
  margin: auto;

  h1, p {
    width: 300px;
    margin: auto;
  }

  p {
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    margin: 20px auto 30px;
    text-align: start;
  }

  .field {
    margin: 5px auto;
    span {
      img {
        top: 7px;
        right: -35px;
        height: 25px;
        position: relative;
      }

      input {
        font-size: 14px;
        font-weight: 400;
        padding: 8px 30px 8px 40px;
        border: 0.5px solid $field-bg-color;
        background-color: $field-bg-color;
        font-family: inherit;
        text-align: start;
      }

      input::placeholder {
        font-weight: 400;
        color: #808080;
      }

      input:active, input:focus{
        outline: 0.5px solid $color-primary-light;
        border: 0.5px solid $color-primary-light;
      }
    }
  }

  .action-button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 10px;

    button {
      width: 96px;
      height: 33px;
      border-radius: 20px;
      letter-spacing: 0.03em;
      color: $font-color-secondary;
      background: $color-primary-md-dark;
      border: 1px solid transparent;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .cancel {
      background-color: $button-cancel;
    }
  }
}
