@import "../../variable.scss";

.bg {
  z-index: -1;
  min-height: 99vh;
  margin-top: -99vh;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  img {
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
  }
}

.container {
  width: 100%;
  max-width: 1366px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;

  jtr-back-button {
    top: 6%;
    left: 3%;
    z-index: 99;
    position: absolute;
  }
}

.box {
  display: flex;
  width: 801px;
  height: 446px;
  margin: auto;
  border-radius: 20px;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.left {
  display: flex;
  align-items: center;
  width: 367px;
  height: 446px;
  background: #74919F;
  border-radius: 20px 0 0 20px;
  img {
    width: 307px;
  }
}

.right {
  padding: 7% 11%;
  border-radius: 0 20px 20px 0;

  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 0.06em;
    color: $color-primary-md-dark;
  }

  p {
    margin-top: 30px;
    text-align: start;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.03em;
  }
}

form{
  text-align: center;

  .field {
    span {
      padding: 7px 10px;
      display: flex;
      margin: 20px auto 0;
      border-radius: 5px;
      background-color: $field-bg-color;
      mat-icon {
        color: #ccc;
        margin-right: 8px;
        font-size: 24px;
      }

      input {
        width: 100%;
        border: transparent;
        outline: transparent;
        background-color: transparent;
      }
    }
  }

  .submit-btn {
    margin-top: 100px;

    input {
      width: 98px;
      height: 35px;
      line-height: 20px;
      text-align: center;
      border-radius: 5px;
      border-radius: 20px;
      letter-spacing: 0.07em;
      color: $font-color-secondary;
      background: $button-color-1;
      border: 1px solid transparent;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}
