<div class="container">
  <jtr-back-button [path]="'/login'"></jtr-back-button>
  <div class="box">
    <div class="left">
      <img src="assets/images/clip-data-protection 1.png" alt="Forgot Password Image">
    </div>
    <div class="right">
      <h1>Forgot Password?</h1>
      <p>Enter the email address associated to your account and we will send you instructions to reset your password.</p>
      <form>
        <div class="field">
          <span>
            <mat-icon>email</mat-icon>
            <input type="text" placeholder="Enter Code">
          </span>
        </div>
        <div class="submit-btn">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>

</div>
<div class="bg">
  <img src="assets/images/urban-328 1.png" alt="">
</div>
