<form class="container" [formGroup]="noteForm" [style.background]="background">
  <div class="header">
    <jtr-back-button mat-dialog-close></jtr-back-button>
    <div><input type="text" formControlName="title" jtrInvertColor [bgColor]="background" id="title"></div>
  </div>
  <div class="body">
    <quill-editor
      #quillEditor
      [modules]="editorConfig"
      [styles]="{height: '420px', border:'none'}"
      [bgColor]="background" jtrInvertColor
      (onEditorChanged)="changedEditor($event)">
    </quill-editor>
  </div>
  <div class="footer" >
    <div class="wrap">
      <button (click)="delete()" type="button" jtrInvertColor [bgColor]="background"><mat-icon>delete</mat-icon></button>
      <button (click)="save()"  type="submit" jtrInvertColor [bgColor]="background"><mat-icon>save</mat-icon></button>
      <button (click)="print()" type="button" jtrInvertColor [bgColor]="background"><mat-icon>print</mat-icon></button>
      <button (click)="bookmark()" type="button" jtrInvertColor [bgColor]="background"><mat-icon>{{ bookmarked ? 'bookmark' : 'bookmark_border' }}</mat-icon></button>
      <button (click)="openColorPicker()" type="button" jtrInvertColor [bgColor]="background"><mat-icon>color_lens</mat-icon></button>
      <input matRipple type='color' formControlName="background" jtrInvertColor [bgColor]="background" id='color-picker' #colorPicker/>
    </div>
  </div>
</form>

