@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.cdnfonts.com/css/bahnschrift');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

@import "./app/variable.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $primary-font;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  min-width: 1366px;
  font-family: $primary-font;
  background-color: whitesmoke;
}

html, body {
  scroll-behavior: smooth;
  height: 100%;
}

.field-error {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  font-family: $primary-font;
  color: $font-color-error;
}

.jtr-dialog {
  .mat-dialog-container {
    padding: 15px;
    border-radius: 10px !important;
  }
  .semi-rounded-edge {
    border-radius: 15px !important;
  }
}

#editor {
  margin: auto;
  max-width: 985px;
  //width: 100%;
  height: 100vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding: 0px !important;
  border-radius: 0px !important;
}


.ql-toolbar.ql-snow, .ql-editor ql-blank { border: none !important;}
