.container {
  padding: 0.5em 1em;
  max-width: 520px;
  margin: auto;
  text-align: center;

  .dialog-title {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.05em;
  }

  .dialog-message {
    line-height: 25px;
  }

  .success {
    color: #B1D07A;
  }

  .fail {
    color: #DC6143;
  }
}
