<div class="wrapper">
  <div class="logo">
    <img src="assets/images/jotter-icon.png" alt="" height="60">
  </div>

  <div class="user-nav">
    <ul>
      <li routerLinkActive="active"><a routerLink="./notebooks">Notebooks</a></li>
      <li routerLinkActive="active"><a routerLink="./notes">All Notes</a></li>
      <li routerLinkActive="active"><a routerLink="./favorites">Favorites</a></li>
    </ul>

    <button
      class="account" (click)="toggle()"
      matRipple [matRippleCentered]="centered"
      [matRippleUnbounded]="unbounded"
      [matRippleRadius]="radius" [matRippleColor]="color">
      <img src="assets/images/User Account Link.png" alt="" height="60">
    </button>
  </div>
</div>
